page-forgot-password {
    .theForm{
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        padding-top: 50%;
    }
    .contents{
        background: white;
        box-shadow:  0 0px 15px grey;
        padding: 10px;
        border-radius: 5px;
        animation: 1.2s bounceInUp;
        transition: 1s;
    }
    .theTXT{
        border: 1px solid grey;
        border-radius: 5px;
        padding-left: 10px;
    }
}
